<div class="container">


	<button type="button" class="btn btn-success">Delete</button>


	<form id="tag-form">
		<div class="form-group">
			<label for="title">Tag Name</label>
			<input placeholder="" type="text" class="form-control" id="tagname">
			<br />
			<label for="title">Start Time</label>
			<input placeholder="" type="text" class="form-control" id="starttime">
			<br />
			<label for="title">End Time</label>
			<input placeholder="" type="text" class="form-control" id="endtime">
			<br />
			<button type="ADD" class="btn btn-success submit">Submit</button>
		</div>
	</form>


</div>



