
<div class="container banner">

  <div class="banner-head">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/assets/images/footsteps.png" class="fullscreen-bg__video">
        <source src="/assets/images/shoes_walking_feet_legs_1080p.mp4" type="video/mp4">
      </video>
    </div>

    <div class="banner-subhead">
      <h2 class="header">
        Samaya
      </h2>
      <h4 id="power">Powerful<br />
        Video Analysis <br /></h4>
      <h6><br></h6>

      <form id="video-form">
        <div class="form-inline">
          <input style="width: 30rem" placeholder="https://www.youtube.com/watch?v=TfBaVaubcyw" type="text"
            class="form-control" id="urlLink">
          <button type="submit" class="btn btn-success submit shadow-lg">submit</button>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="row tagHeader"><h4>Browse Created Tags:</h4> </div>
      <div class="tagBox row">
        {{#each tag}}
        <div class="col-md-1">
          <button type="button" class="linkButton btn btn-primary " style="width: 5rem"
            id={{tagName}}>{{tagName}}</button>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>



<div class="footer l-box">
  <h5>Created by Aaron, Austin, Jessica, and John</h5>
</div>
</body>

</html>
