<div class="banner">
  <div class="header">
    Samaya
  </div>

  <div class="banner-head">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/assets/images/footsteps.png" class="fullscreen-bg__video">
        <source src="/assets/images/shoes_walking_feet_legs_1080p.mp4" type="video/mp4">
      </video>
    </div>

    <div class="banner-subhead">
      <h1  id="power">Powerful<br />
        Video Analysis <br /></h1> 
      <h6>Identify objects and scenes specific to your business needs.</h6>

      <form id="video-form">
          <div class="form-inline">
              <input style="width: 50rem" placeholder="https://www.youtube.com/watch?v=TfBaVaubcyw" type="text" class="form-control" id="urlLink">
              <button type="submit" class="btn btn-success submit">submit</button>
          </div>
      </form>
    </div>

    <div class="tagBox row"> 
      <div class = "col-md-1"> 
        <button type="button" class="linkButton btn btn-primary "  style="width: 5rem" id={{tagName}}>test</button>
      </div>
      <div class = "col-md-1"> 
        <button type="button" class="linkButton btn btn-primary" style="width: 5rem" id={{tagName}}>test</button>
      </div>
      <div class = "col-md-1"> 
        <button type="button" class="linkButton btn btn-primary" style="width: 5rem" id={{tagName}}>test</button>
      </div>
      <div class = "col-md-1"> 
        <button type="button" class="linkButton btn btn-primary" style="width: 5rem" id={{tagName}}>test</button>
      </div>
    </div>
  </div>

</div>
<<<<<<< HEAD

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="l-box">
            
           
          </div>
        </div>
=======
</div>
</div>
>>>>>>> 055a3d0a634dea3c3d39211d388f28c51817b372

      </div>
      <!-- end information -->
    </div>
    <!-- end l-content -->

    <div class="footer l-box">
      <h5>Created by Aaron, Austin, Jessica, and John</h5>
    </div>
  </body>
</html>