    <div class="banner">
      <div class="header">
        <img id="logo" src="/assets/images/samaya_logo.png" alt="logo">
      </div>


      <h1 class="banner-head">
        <div class="fullscreen-bg">
            <video loop muted autoplay poster="/assets/images/footsteps.png" class="fullscreen-bg__video">
              <!-- <source src="video/big_buck_bunny.webm" type="video/webm"> -->
              <source src="/assets/images/shoes_walking_feet_legs_1080p.mp4" type="video/mp4">
              <!-- <source src="video/big_buck_bunny.ogv" type="video/ogg"> -->
          </video>
          </div>
      
      </h1>
      <div class="banner-subhead">
           <h1 id="power">Powerful<br />
        Video Analysis <br /></h1> 
          <h6 id="ify">Identify objects and scenes specific to your business needs.</h6>
          <div class="main">
              <input type="text" name="box" placeholder="Search millions of tags">
          </div>
      </div>
    </div>
    
    </div>
