
    <div class="jumbotron jumbotron-fluid">
        <img id="logo" src="/assets/images/samaya_logo.png" alt="samaya_logo">
    </div>


    <div class="container" id="results-box">

      {{#each urls}}
        <a href={{id}}>
            <div class="card urlLink"  id="url" style="width: 18rem;">
                <span class="badge badge-primary"></span>
                <img src="{{thumb}}" class="card-img-top" alt="...">
            </div>
        </a>
     {{/each}} 
    </div>




