
body {
    background-color: black;
}


 body {
    color: white;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

h6 {
    font-weight: 300;
}



.addedVideo {
    margin: 2% 0%;
}

.l-content {
    margin: 0 auto;
}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn {
    background-color:#ffffb3 !important;
    color:black !important;
    border: none;
}
.btn-primary:hover, .btn:hover {
    background-color: white !important;
}

.bottom-footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  text-align: center; 
}



/* header  */
.header {

    margin-left: 10px;
    border-bottom: 2px white solid;
   
 }

.addHeader {
    margin-bottom: 3%;
    border-bottom: 2px white solid;
  
 }


.banner {
    /* background: transparent url('images/footsteps.png') 0 0 no-repeat fixed; */
   
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
    display: table;
}

.banner-head {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 50px;
    font-size: 196px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;      
    z-index: -100;
}

.banner-subhead{
     position: relative;
     top: 100px;
     display: block;
     text-align: left;
     color: white;
     font-family:'Poppins', sans-serif;
}

.tagBox, .tagHeader{
    position: relative;
    top: 115px;
}

.card-img-top {
    padding: 5px;
    border: 2px solid white;
    background: black;
    background-clip: padding-box;
}

#power{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size:  25px; 

}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  text-align: center; 
  
}

.footer a {
     color: #ddd;
}

.resultHeader{
    padding-left: 10%;
    padding-top: 10px;
    width:100%;
}


@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}


@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}


/* VIDEO BACKGROUND */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
}

.fullscreen-bg__video {

    width: 100%;
    height: 100vh;
}

/* RESULTS PAGE */
#logo {
    margin: 15px;
    height: 25px;
    width: auto;
    position: absolute;
    z-index: 1;
}
.jumbotron {
    background-color: #333;
}
 #main-video {
height: 600px;
width: auto;
 }

 .video-title {
     color: lightskyblue;
 }
 .lead {
     color: lightgray;
 }

.video-results {
    width: 15%;
    height: auto;
    border-radius: 2em;
}

.badge {
    width: 30%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#results-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#video {
    border-radius: 5px;
    box-shadow: 1px 3px rgba(65, 62, 62, 0.222);
}

.submit {
    margin-left: 5px;
}