/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

h6 {
    font-weight: 300;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
   
  
}



/* header  */


 #logo {
  position: relative;
  top: 20px;
 }

/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    /* background: transparent url('images/footsteps.png') 0 0 no-repeat fixed; */
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
    display: table;
}

    .banner-head {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        margin-bottom: 50px;
        font-size: 196px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;        
    }

.banner-subhead{
     position: relative;
     top: 100px;
     left: 175px;
     display: block;
     text-align: left;
     color: white;
     font-family:'Poppins', sans-serif;
}

#power{
  font-size: 50px;

}

#ify{
  font-size: 20px;
}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}
/* VIDEO BACKGROUND */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2000vh;
}

.fullscreen-bg__video {
  position: absolute;
  width: 100%;
  height: 100vh;
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}



/* RESULTS PAGE */
#logo {
    margin: 15px;
    height: 25px;
    width: auto;
    position: absolute;
    z-index: 1;
}
.jumbotron {
    background-color: #333;
}
 #main-video {
height: 600px;
width: auto;
 }

 .video-title {
     color: lightskyblue;
 }
 .lead {
     color: lightgray;
 }

.video-results {
    width: 15%;
    height: auto;
    border-radius: 2em;
}

.badge {
    width: 30%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#results-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#video {
    border-radius: 5px;
    box-shadow: 1px 3px rgba(65, 62, 62, 0.222);
}