#hero {
  height:100vh;
  width:100%;
  background:red;
  display:flex;
  align-items:center;
  justify-content: center;
}



#hero::after {
width:100%;
height:100%;
content: '';
position:absolute;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5)
}


#hero video {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:5;
object-fit:cover;
font-family:'object-fit: cover';
}


#hero .texture {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:15;
background:url('../texture.png');
}


#hero .caption {

position:relative;
z-index:20;
text-align:center;
color:#ffffff;
}



#hero .caption h1 {

text-transform: uppercase;
font-size:2em;
font-family: 'Oswald', sans-serif;
margin-bottom:0.5rem;
}

#hero .caption h2 {
font-weight:400;
font-size:1.5rem;
margin:0;
font-family: 'PT Sans', sans-serif;
}




@media screen and (min-width:768px)
{
#hero .caption h1 {
  font-size:2.5rem;
}

#hero .caption h2 {
  font-size:1.75rem;
}
}




@media screen and (min-width:992px)
{
#hero .caption h1 {
  font-size:3rem;
}

#hero .caption h2 {
  font-size:2rem;
}
}



@media screen and (min-width:1200px)
{
#hero .caption h1 {
  font-size:4rem;
}

#hero .caption h2 {
  font-size:2.5rem;
}
}





































 /* *{
   margin: 0;
   padding: 0;
 }

 body{
    text-align: center;
 }

 

 .wrapper{
  width: 1170px;
  margin: 0 auto;
}

header{
  height: 100px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo{
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family: 'poppins', sans-serif;
  color: white;
  letter-spacing: 5px;
}

nav{
  float: right;
  line-height: 100px;
}

nav a{
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  letter-spacing: 4px;
  font-size: 15px;
  margin: 0 10px;
  color: #fff;
}

.banner-area{
  width: 100;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url();
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;

}

.banner-area h1{
  padding-top: 8%;
  font-size: 70px;
  font-family: 'poppins', sans-serif; 
  text-transform: uppercase;
  text-align:center;
  color:peachpuff;
} */

/* .banner-area video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2000vh;
}

.banner-area video {
  position: absolute;
  width: 100%;
  height: 100vh;
} */ 


/* .content-area{
  width: 100%;
  position: relative;
  top: 450px;
  background: #ddd;
  height: 700px;
}

.content-area h2{
  font-family: 'poppins', sans-serif;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
}

.content-area p{
  padding: 2% 0;
  font-family: 'raleway', sans-serif;
  line-height: 30px;
} */
/* h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

h6 {
    font-weight: 300;
}

/*
 * -- Layout Styles --
 */ 


/* header  */


 /* #logo {
  position: relative;
  top: 20px;
 } */

/* .banner { */
    /* background: transparent url('images/footsteps.png') 0 0 no-repeat fixed; */
    /* text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
    display: table;
}

    .banner-head {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        margin-bottom: 50px;
        font-size: 196px;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;        
    }

.banner-subhead{
     position: relative;
     top: 100px;
     left: 175px;
     display: block;
     text-align: left;
     color: white;
     font-family:'Poppins', sans-serif;
} */
/* 
#power{
  font-size: 50px;

}

#ify{
  font-size: 20px;
}

.search-box{
  position: absolute;
  top: 60;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #55DAFD;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn{
  color: #55DAFD;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box:hover > .search-txt{
  width: 240px; 
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
} */



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
/* @media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }

} */
/* VIDEO BACKGROUND */
/* .fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2000vh;
}

.fullscreen-bg__video {
  position: absolute;
  width: 100%;
  height: 100vh;
} */

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
/* @media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
} */



/* RESULTS PAGE
#logo {
    margin: 15px;
    height: 25px;
    width: auto;
    position: absolute;
    z-index: 1;
}
.jumbotron {
    background-color: #333;
}
 #main-video {
height: 600px;
width: auto;
 }

 .video-title {
     color: lightskyblue;
 }
 .lead {
     color: lightgray;
 }

.video-results {
    width: 15%;
    height: auto;
    border-radius: 2em;
}

.badge {
    width: 30%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#results-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#video {
    border-radius: 5px;
    box-shadow: 1px 3px rgba(65, 62, 62, 0.222);
} */